<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CategoryMapper">
    <insert id="add">
        insert into category(cname,pid,icon,url,orderby) values (#{cname},#{pid},#{icon},#{url},#{orderby})
    </insert>
    <select id="cateList" resultType="com.pojo.Category">
        select * from category order by orderby
    </select>
    <select id="getCateById" resultType="com.pojo.Category">
        select * from category where cid=#{id} limit 0,1
    </select>
</mapper>