<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{css/font.css}">
    <link rel="stylesheet" th:href="@{css/xadmin.css}">
    <link rel="stylesheet" type="text/css" th:href="@{layui/css/layui.css}">
    <script th:src="@{js/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-body">
        <form action="" method="post" class="layui-form layui-form-pane">
                <input type="hidden" th:value="${cid}" name="cid">
                <div class="layui-form-item">
                    <label for="title" class="layui-form-label">
                        <span class="x-red">*</span>图片标题
                    </label>
                    <div class="layui-input-inline" style="width: 300px;">
                        <input type="text" id="title" name="title" required lay-verify="required"
                        autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="title" class="layui-form-label">
                        <span class="x-red">*</span>图片
                    </label>
<!--                    <div  class="layui-upload">-->
					  <!--<button type="button" class="layui-btn" id="test1">上传图片</button>-->
					  <button type="button" class="layui-btn layui-btn-normal" id="test8" name="pic">选择图片</button>
					  <button type="button" class="layui-btn" id="test9">开始上传</button>
					  <div class="layui-upload-list">
					    <img class="layui-upload-img" id="demo1">
					    <p id="demoText"></p>
					  </div>
                </div>
                <div class="layui-form-item">
                    <label for="title" class="layui-form-label">
                        <span class="x-red">*</span>拍照地址
                    </label>
                    <div class="layui-input-inline" style="width: 300px;">
                        <input type="text" id="addr" name="addr" required lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                <button class="layui-btn" lay-submit="" lay-filter="add">增加</button>
              </div>
            </form>
    </div>
    <script>
        layui.use(['form','layer','upload','layedit'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer
          ,upload = layui.upload
          ,layedit = layui.layedit;
          var file="";
          //富文本编辑器
          var index = layedit.build('content',{
              "uploadImage":{url: '/admin/upload/', type: 'post'}
          }); //建立编辑器
         //选完文件后不自动上传
		  var uploadImg = upload.render({
		    elem: '#test8'
		    ,url: '/admin/upload/'
		    ,auto: false
		    //,multiple: true
		    ,bindAction: '#test9'
		    ,done: function(res){
		      console.log(res)
                  if (res.code==0){
                      layer.msg("图片上传成功");
                      file=res.data.src;

                  }else {
                      layer.error("图片上传失败")
                  }
		    }
		  });
        //普通图片上传
		  var uploadInst = upload.render({
		    elem: '#test1'
		    ,url: '/upload/'
		    ,before: function(obj){
		      //预读本地文件示例，不支持ie8
		      obj.preview(function(index, file, result){
		        $('#demo1').attr('src', result); //图片链接（base64）
		      });
		    }
		    ,done: function(res){
		      //如果上传失败
		      if(res.code > 0){
		        return layer.msg('上传失败');
		      }
		      //上传成功
		    }
		    ,error: function(){
		      //演示失败状态，并实现重传
		      var demoText = $('#demoText');
		      demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
		      demoText.find('.demo-reload').on('click', function(){
		        uploadInst.upload();
		      });
		    }
		  });
          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });

          //监听提交
          form.on('submit(add)', function(data){
              data.field.content=layedit.getContent(index);
              data.field.file=file;
            console.log(data);
              $.ajax({
                  url:"/admin/addPhoto",
                  type:'post',
                  data:data.field,
                  dataType:'json',
                  success:function(datas){
                        if (datas.code==200){
                            //发异步，把数据提交给php
                            layer.alert("增加成功", {icon: 6},function () {
                                // 获得frame索引
                                var index = parent.layer.getFrameIndex(window.name);
                                //关闭当前frame
                                parent.layer.close(index);
                                //重新加载父页面
                                parent.location.reload();
                            });
                        }
                  }
              });
            return false;
          });
          
          
        });
    </script>
  </body>

</html>